# Authentication
SECRET_HULY=secret
SECRET_ACCOUNT=secret
SECRET_COLLABORATOR=secret
SECRET_REKONI=secret
SECRET_TRANSACTOR=secret

# Certificates
# Configurations
TITLE=Huly
DEFAULT_LANGUAGE=en

# Database
# Exposed Ports
HULY_WEB_PORT=8087
HULY_ACCOUNT_PORT=3000
HULY_COLLABORATOR_PORT=3078
HULY_ELASTICSEARCH_PORT=9200
HULY_MINIO_CONSOLE_PORT=9001
HULY_MINIO_PORT=9000
HULY_MONGODB_PORT=27017
HULY_REKONI_PORT=4004
HULY_TRANSACTOR_PORT=3333

# Fullpath URLs
HULY_URL=http://localhost
ACCOUNTS_URL=http://${HULY_URL}:3000
CALENDAR_URL=http://${HULY_URL}:8095
COLLABORATOR_API_URL=http://${HULY_URL}:3078
COLLABORATOR_URL=ws://${HULY_URL}:3078
ELASTIC_URL=http://${HULY_URL}:9200
ENDPOINT_URL=ws://${HULY_URL}:3333
FRONT_URL=http://${HULY_URL}:8087
GMAIL_URL=http://${HULY_URL}:8088
MONGO_URL=mongodb://${HULY_URL}:27017
REKONI_URL=http://${HULY_URL}:4004
TELEGRAM_URL=http://${HULY_URL}:8086
TRANSACTOR_URL=ws://${HULY_URL}:3333


# Additional
# --------------------------------------------------------------------------------
# Account
INIT_WORKSPACE=demo-tracker
MODEL_ENABLED=*

# Transactor
LAST_NAME_FIRST=false
METRICS_CONSOLE=false
METRICS_FILE=metrics.txt
SERVER_CURSOR_MAXTIMEMS=30000
SERVER_PROVIDER=ws
UPLOAD_PATH=/files
UPLOAD_URL=http://${HULY_URL}/files

# Minio
MINIO_ENDPOINT=minio
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# Elastic Search
BITNAMI_DEBUG=true
ELASTIC_INDEX_NAME=huly_storage_index
ES_JAVA_OPTS=-Xms1024m -Xmx1024m
discovery.type=single-node
http.cors.allow-origin=http://localhost:8082
http.cors.enabled=true
