# REFERENCE
# https://github.com/portainer/portainer/blob/develop/docker-compose.pull-dog.yml

networks:
  portainer:
    name: portainer

services:
  portainer:
    image: portainer/portainer
    container_name: portainer
    restart: unless-stopped
    command: -H unix:///var/run/docker.sock
    networks:
      - portainer
    ports:
      - ${PORTAINER_PORT:-9005}:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
