# ignore these folders:
/logs

# ignore these files:

# ------------------------------------------------------------------------------
# include these folders:
!/.idea/
!/.vscode/

# include these files:
