# REFERENCE
# https://github.com/gethomepage/homepage?tab=readme-ov-file#with-docker

networks:
  homepage:
    name: homepage

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v0.9.2
    container_name: homepage
    restart: unless-stopped
    networks:
      - homepage
    ports:
      - ${PORT_HOMEPAGE:-80}:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file: .env
    environment:
      - PUID=1000
      - PGID=1000
